body{
  background-image: url("https://cdn.pixabay.com/photo/2016/10/22/17/46/scotland-1761292__340.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
background-position: center;
}
