body{
  background-image: url("https://image.freepik.com/free-vector/medical-infographics-with-illustrations-female-body_80590-1612.jpg");
  background-repeat:no-repeat;
  background-position: center;


}
